

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
       background-color: #02A5DE;
       color: white;
       font-family: 'Oswald', sans-serif;
   }
   .crown {
       width: 50%;
       margin-left: auto;
   }

   h1 {
       margin-top: 0px;
       margin-bottom: 0px;
       text-align: center;
       font-size: 50px;
   }

   h2 {
       margin-top: 20px;
       margin-bottom: 0px;
       text-align: center;
       font-size: 40px;
   }

   h3 {
       margin-top: 10px;
       margin-bottom: 10px;
       text-align: center;
       font-size: 25px;
   }

   ul {
   }

   ul li {
       width: 19%;
   }

   i {
       color: #FFFFFF;
       margin-left: 0;
       display: inline;
   }


   footer {
       margin-top: 50px;

   }
