body {
    background-color: #02A5DE;
    color: white;
    font-family: 'Oswald', sans-serif;
}

img {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 40%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 100px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 75px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
}
